

h1{
  background-color: rgb(176, 172, 167);
  color:black;
  text-align: center;
  
}
nav{
  background-color: darkkhaki;
  color:black;
  display: block;
}
nav li{
  list-style: none;
  text-decoration: none;
  display:flex;
  justify-content: center;
  
}