body {
  margin: 0;
  font-family:  ui-monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
  /* background:radial-gradient(rgb(68, 3, 136) , rgb(98, 121, 237)); */
  /* background: linear-gradient(#2A00B7 , #42006c); */
  /* background: rgb(221, 219, 219); */
  /* background: rgb(4, 4, 4); */
  /* background:radial-gradient(rgb(195, 152, 241) , rgb(98, 121, 237));  */

  /* background: #fff; */
 

  /* background-repeat: no-repeat; */
  font-size: 16px;
  /* height: 100vh; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
