body {
  margin: 0;
  font-family:  ui-monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 247, 252);
  padding:0;
  font-size: 16px;
}

 @media (min-width:500px){

.container{
  position: fixed;
  left: 30%;
  margin: 0 auto;
  width:410px;
  top:10%;
  opacity: 100%;
  border:solid 0.5px black;
}

.maincontainer{

background-image: url(../src/components/assets/background_img.jpeg);
background-repeat: no-repeat;
background-size: cover;
}

} 

@media screen and (max-width: 500px) {
  .maincontainer {
     background-color: rgb(238, 247, 252); 
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.maincontainer{
height:100vh;
margin: 0 auto;
width:100%;
}

.container{
    position:relative;
background-color: white;
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
width:310px;
margin : 0 auto;
padding:10px 10px;
border-radius:16px;
box-shadow: grey  3px 3px 4px;
top:8%;
}

.input{
  display:flex;
  gap :10px;
  font-size:1.5rem;
  border: 1px solid grey;
  border-radius:6px;
  outline:none;
  overflow:hidden;
  margin : 10px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
