body {
  margin: 0;
  font-family:  ui-monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
  /* background:radial-gradient(rgb(68, 3, 136) , rgb(98, 121, 237)); */
  /* background: linear-gradient(#2A00B7 , #42006c); */
  /* background: rgb(221, 219, 219); */
  /* background: rgb(4, 4, 4); */
  /* background:radial-gradient(rgb(195, 152, 241) , rgb(98, 121, 237));  */

  /* background: #fff; */
 

  /* background-repeat: no-repeat; */
  font-size: 16px;
  /* height: 100vh; */

}

 @media (min-width:500px){

.container{
  position: fixed;
  left: 30%;
  margin: 0 auto;
  width:410px;
  top:80px;
  opacity: 100%;
  border:solid 0.5px black;

}

.maincontainer{
/* background:radial-gradient(rgb(195, 152, 241) , rgb(98, 121, 237));  */
/* background:radial-gradient(rgb(203, 222, 250) , rgb(247, 247, 247));  */
background-image: url(../src/components/assets/background_img.jpeg);
background-repeat: no-repeat;
background-size: cover;
}

} 

@media screen and (max-width: 500px) {
  .maincontainer {
     background-color: rgb(238, 247, 252); 
    /* background:radial-gradient(rgb(195, 152, 241) , rgb(98, 121, 237));  */

    /* background-image: url(../src/components/assets/background_phone.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;

  }
}

.maincontainer{
/* background:radial-gradient(rgb(195, 152, 241) , rgb(98, 121, 237));  */
/* background:radial-gradient(rgb(203, 222, 250) , rgb(247, 247, 247));  */



height:100vh;
margin: 0 auto;
width:100%;}

.container{
    position:relative;
/* gap:30px; */
background-color: white;
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
width:310px;
margin : 0 auto;
padding:10px 10px;
border-radius:16px;
box-shadow: grey  3px 3px 4px;
top:10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
